<div class="container">
    <div class="chatApp-wrapper">
      <div class="people-list">
        <div class="people-search"> 
          <input type="search" placeholder="Arancak değeri yazın...">
        </div>
        <ul>
          <li  *ngFor="let user of users" class="people-item" (click)="changeUser(user) " >
            <div >
              <div>{{user.name}}</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="chat">
        <div class="chat-header">
          <div>
            <div class="user-name">{{selectedUser.name}}</div>
          </div>
        </div>
        <div class="chat-content">
          <div *ngFor="let msg of chat.messages" class="chat-content-message">
            {{msg.message}}
        </div>
        </div>
        <div class="chat-message">
          <input type="text" [(ngModel)]="message" placeholder="Buraya bir mesaj yazın...">
          <span><i (click)="add()" class="fa fa-send"></i></span>
        </div>
      </div>
    </div>
  </div>