<div class="container">
    <div class="chatApp-wrapper">
      <div class="people-list">
        <div class="people-search"> 
          <input type="search" placeholder="Arancak değeri yazın...">
        </div>
        <ul>
          @for(user of users; track user){
          <li class="people-item" [ngClass]="selectedUserId == user.id ? 'active' : ''" (click)="changeUser(user)">
            <img src="https://bootdey.com/img/Content/avatar/{{user.avatar}}" alt="">
            <div>
              <div>{{user.name}}</div>
              <div [ngClass]="user.status === 'online' ? 'online' : 'offline'">{{user.status}}</div>
            </div>
          </li>
        }
        </ul>
      </div>
      <div class="chat">
        <div class="chat-header">
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
          <div>
            <div>Can Çiftçi</div>
            <div>online</div>
          </div>
        </div>
        <div class="chat-content">
          <div class="chat-content-message">
            Selam Naver
            Selam NaverSelam Naver
          </div>
          <div class="chat-content-message">
            Selam Naver
          </div>
          <div class="chat-content-message">
            Selam Naver
          </div>        <div class="chat-content-message">
            Selam Naver
          </div>
        </div>
        <div class="chat-message">
          <input type="text" placeholder="Buraya bir mesaj yazın...">
          <span><i class="fa fa-send"></i></span>
        </div>
      </div>
    </div>
  </div>