.chatApp-wrapper{
    height: 90vh;
    width: 100%;
    margin-top: 50px;
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
}

.chatApp-wrapper .people-list{
    width: 35%;
    height: 100%;
    border-right: 1px solid #000;
    background-color: rgba(3, 6, 20, 0.8);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.chatApp-wrapper .chat{
    width: 70%;
    height: 95%;
}

.people-title{
    padding: 13px 20px;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.people-header{
    display: flex;
    align-items: center;
    gap: 170px;
}

.people-header button{
    height: 40px;
}

.people-list ul{
    margin: 0px;
    padding: 0px;
}

.people-list li{
    list-style: none;
    gap: 20px;
    background-color: rgba(81, 85, 104, 0.8);
    padding: 10px;
    cursor: pointer;
    color: white;
    margin: 10px;
    border-radius: 10px;

}

.people-list li:hover{
    background-color: #6c80e8;
}


.people-item img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.user-name-list{
    font-size: 20px;
}
.user-list{
    display: flex;
    gap: 10px;
    align-items: center;
}

.chat .chat-header{
    display: flex;
    background-color: rgba(3, 6, 20, 0.8);
    padding: 10px;
    gap: 20px;
    position: fixed;
    width: 863px;
    border-top-right-radius: 20px;
    height: 71px;
}

.chat-header-wrapper{
    display: flex;
    gap: 10px;
}

.chat-header .user-name{
    font-size: 20px;
    margin-top: -5px;
    color: white;
}

.online {
    color: green;
  }
  
  .offline {
    color: red;
  }

.active{
    background-color: #6c80e8!important;
}
.chat-header img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.chat-content{
    background-color: rgba(34, 37, 56, 0.8);
    height: 705px;
    width: 863px;
    position: fixed;
    margin-top: 71px;
    overflow-y: auto; /* Dikey kaydırma çubuğunu otomatik olarak göster */
}

.chat-content::-webkit-scrollbar {
    width: 10px; 
}

.chat-content::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
}

.chat-content::-webkit-scrollbar-thumb {
    background-color: #6c80e8;
    border-radius: 10px; 
}

.chat-content::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.chat-content-message{
    word-break: break-all;
    white-space: pre-wrap;
    height: 30px;
    background-color: #7388f0;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px;
    margin: 7px;
    display: flex;
    align-items: center;
}

.chat-message{
    background-color: rgba(3, 6, 20, 0.8);
    padding: 20px;
    margin-top: 776px;
    width: 863px;
    position: fixed;
    border-bottom-right-radius: 20px;

    
}

.chat-message i{
    font-size: 25px;
    margin-left: 10px;
    padding-left: 5px;
    cursor: pointer;
    color: #6c80e8;
}

.chat-message input{
    width: 95%;
    height: 40px;
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid #6c80e8;
    background-color: rgba(81, 85, 104, 0.8);
}

.chat-message input:focus{
    outline: none;
    box-shadow: none; 
    border: 1px solid #6c80e8;
}

@media (max-width: 1400px){
    .chat .chat-header{
        width: 743px;
    }

    .chat .chat-content{
        width: 743px;
    }

    .chat .chat-message{
        width: 743px;
        padding: 20px;
    }

    .chat .chat-message input{
        width: 93%;
    }

    .people-header button{
        margin-left: -60px;
    }
}

@media (max-width: 1200px){
    .chat .chat-header{
        width: 623px;
    }

    .chat .chat-content{
        width: 623px;
    }
    
    .chat .chat-message{
        width: 623px;
    }

    .chat .chat-message input{
        width: 93%;
    }

    .people-header button{
        margin-left: -120px;
    }
}

@media (max-width: 988px){
    .chat .chat-header{
        width: 463px;
    }

    .chat .chat-content{
        width: 463px;
    }
    
    .chat .chat-message{
        width: 463px;
    }

    .chat .chat-message input{
        width: 90%;
    }

    .people-header button{
        margin-left: -180px;
        padding: 5px;
    }
}

@media (max-width: 766px){
    .chat .chat-header{
        width: 343px;
    }

    .chat .chat-content{
        width: 343px;
    }

    .chat .chat-message{
        width: 343px;
    }
    
    .chat .chat-message input{
        width: 83%;
    }

    .people-header{
        flex-direction: column;

    }
    .people-header button{
        margin-top: -170px;
        margin-left: 0px;
        width: 90%;

    }
}

@media (max-width: 506px){
    .chat .chat-header{
        width: 316px;
    }
    
 .people-title{
        font-size: 24px;
    }
    .chat .chat-content{
        width: 316px;
    }

    .chat .chat-message{
        width: 316px;
        height: 80px;
    }

    .chat .chat-message input{
        width: 83%;
    }
}

